.cart {
	@extend .spacer, .container;
	margin-top: 100px;
	text-align: center;
	position: relative;
}

.cart-wrapper {
	@extend .row;
	justify-content: center;
	gap: 1em;
}
.cart-item-container {
	@extend .col-lg-5;
	.cart-item {
		@extend .shadow-sm, .d-flex, .justify-content-between;
		gap: 1em;
		padding: 1em;
		position: relative;
		text-align: start;
	}

	.cart-item-link {
		@extend .d-flex, .flex-1;
		gap: 1em;
	}
	.cart-item-image {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}

	.delete-btn {
		position: absolute;
		right: 1em;
		bottom: 1em;
		cursor: pointer;
	}
	.quantity-container {
		@extend .d-flex, .gap-1, .mx-1;
		@media (max-width: $mobile) {
			position: absolute;
			right: 0.7em;
			top: 2.6em;
		}
	}

	#minus-btn,
	#plus-btn {
		cursor: pointer;
		color: $dark;
		font-size: 0.9em;
		padding: 0.4em 0.2em;
	}
}

.cart-overview-container {
	@extend .shadow-sm, .col-lg-4, .d-flex, .flex-column;
	padding: 2em;
	gap: 0.5em;

	h3 {
		text-align: center;
		margin-bottom: 1em;
	}
	.cart-overall-total-wrapper {
		@extend .d-flex, .justify-content-between;
		margin-top: 1em;
	}
}
