.cart {
	@extend .spacer, .container;
	margin-top: 100px;
	text-align: center;
	position: relative;
}
.back-btn-container {
	position: absolute;
	left: 0;
}

.back-button {
	@extend .btn;
	@extend .btn-outline-primary;
	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	gap: 0.4em;

	@media (max-width: $mobile) {
		top: -4em;
		margin: 0 auto;
	}
}
.cart-wrapper {
	@extend .row;
	justify-content: center;
	gap: 1em;
}
.cart-item-container {
	@extend .col-lg-5;
	.cart-item {
		@extend .shadow-sm;
		display: flex;
		gap: 1em;
		padding: 1em;
		position: relative;
		justify-content: space-between;
	}

	.cart-item-link {
		display: flex;
		color: $dark;
		gap: 1em;
		flex: 1;
	}
	.cart-item-image {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}

	.delete-btn {
		position: absolute;
		right: 1em;
		bottom: 1em;
		cursor: pointer;
	}
	.quantity-container {
		@extend .d-flex, .mx-1, .gap-1;
		@media (max-width: $mobile) {
			position: absolute;
			right: 0.5em;
			top: 2.5em;
		}
	}

	#minus-btn,
	#plus-btn {
		cursor: pointer;
		color: $dark;
		font-size: 0.9em;
		padding: 0.4em 0.2em;
	}
}

.cart-total-container {
	@extend .shadow-sm, .col-lg-4;
	padding: 2em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	.cart-total {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.cart-total-item {
		display: flex;
		justify-content: space-between;
	}

	h3 {
		text-align: center;
		margin-bottom: 1em;
	}
	.cart-total-total {
		display: flex;
		justify-content: space-between;
		margin-top: 1em;
	}
}
