// color pallett

$primary: #7273ff;
$secondary: #ffff9d;
$white: #ffffff;
$light: lighten(#d8d9cc, 10);
$black: #212426;
$dark: #3c3f40;
$danger: #ffb2ad;
$success: #c8ffbb;
$warning: #ffdc83;
$bg: linear-gradient(-225deg, #fffeff 0%, #ffff9d23 100%);
