.footer {
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: 1.4em;
  position: relative;
}
.to-top-btn {
  position: absolute;
  right: 1em;
  bottom: 2.5em;
  font-size: 2em;
  color: $primary;
  cursor: pointer;
}
