.footer {
	@extend .d-flex, .flex-column, .gap-2;
	position: relative;
	background-color: $light;

	.to-top-btn {
		position: absolute;
		right: 1em;
		top: 1em;
		font-size: 1.8em;
		color: $primary;
		cursor: pointer;
	}
	.footer-icons {
		max-width: 25px;
	}
}

.footer__content {
	@extend .container, .p-4, .mx-auto;
	.footer__content-row {
		@extend .row, .justify-content-between, .text-dark, .mx-auto, .py-4;
	}
	// col 1
	.footer__content-logo-wrapper {
		@extend .col-sm-6, .col-md-3, .d-flex, .flex-column;
	}
	.logo-footer {
		width: 150px;
		margin-bottom: 2em;
	}
	.social {
		display: flex;
		gap: 1em;
		font-size: 1.3em;
	}
	// col 2
	.footer__content-menu-wrapper {
		@extend .col-md-3, .d-none, .d-md-flex, .flex-column, .gap-2;
	}
	// col 3
	.footer__content-payment-wrapper {
		@extend .col-sm-6, .col-md-3;
	}
}

.footer__copyright {
	@extend .text-center, .p-4, .bg-dark, .text-white;
}
