.footer {
	@extend .d-flex, .flex-column, .flex-md-row;
	@extend .justify-content-center, .justify-content-md-around, .align-items-center, .gap-4;
	background-color: $dark;
	color: $white;
	padding: 3em 1em;
	position: relative;
}
.to-top-btn {
	position: absolute;
	right: 1em;
	bottom: 5.5em;
	font-size: 1.5em;
	color: $dark;
	cursor: pointer;
}
.social {
	display: flex;
	gap: 2em;
	font-size: 1.5em;
}
