.form-control {
	border: transparent;
	border-bottom: 1px solid $dark;
	background-color: transparent;
	border-radius: 0;
}

form {
	@extend .shadow-sm, .spacer;
	padding: 2em !important;

	span > div {
		font-size: 0.9em;
		padding: 0;
		display: inline;
	}

	.form-btn {
		@extend .btn, .btn-primary;
	}
	.div-input-container {
		@extend .form-floating;
		margin-bottom: 2.5em;
	}
}

.form-wrapper {
	@extend .inner-spacer-top;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-wrapper__add-edit-product {
	@extend .form-wrapper;

	.form-switch .form-check-input {
		width: 3em;
		height: 1.5em;
		margin-right: 0.5em;
	}
	.form-check-label {
		margin-top: 0.2em;
	}
	.form-switch {
		padding-left: 3em;
	}
	.select {
		margin-bottom: 2.5em;
	}
	.category {
		@extend .form-select;
		width: 100%;
	}
}
.textarea-container {
	@extend .div-input-container;

	textarea {
		margin-top: 0.5em;
	}

	@media (max-width: $tablet) {
		height: 200px;
	}
}
