.hero {
	@extend .spacer, .container-lg, .shadow;
	overflow-x: hidden;
	margin-top: 50px;

	@media (max-width: $tablet) {
		margin-top: 0;
	}

	h1 {
		font-size: 4em;
		margin-bottom: 1em;
		@media (max-width: $mobile) {
			font-size: 2.5em;
		}
	}
	.row > * {
		padding: 0;
		gap: 0;
	}

	.hero-content {
		@extend .col-lg-4, .col-md-5, .order-2, .order-md-0, .d-flex, .flex-column, .justify-content-center, .align-items-center, .text-center;
		padding: 1em 0.5em;
	}
	.hero-banner {
		@extend .col-lg-8, .col-md-7;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 23% 100%);
		@media (max-width: $tablet) {
			clip-path: none;
		}
	}

	.hero__image {
		height: 70vh;

		@media (max-width: $mobile) {
			height: 40vh;
		}
	}
	.loader {
		@extend .d-flex, .inner-spacer-top;
	}
}

// section featured products
.featured-products {
	@extend .spacer, .container;

	.featured-products-container {
		@extend .row, .row-cols-1, .row-cols-md-3, .g-4;
	}
	.col {
		@extend .inner-spacer-bottom;
		color: $dark;
	}
	&__link {
		@extend .btn, .btn-outline-primary;
	}
	#display-message {
		margin: 0 auto;
	}
	.loader {
		width: 48px;
	}
}

//carousel/slider
.slider {
	@extend .spacer, .container-fluid, .p-0;
}
//section newsletter
.newsletter {
	@extend .d-flex, .justify-content-center, .align-items-center;
	height: 40vh;
	background-color: $secondary;

	.newsletter-content {
		@extend .container;
		text-align: center;
		max-width: $mobile;
	}
	.newsletter-content h3 {
		@extend .inner-spacer-bottom;
		font-size: 3em;
	}
}
//section services
.services {
	@extend .spacer, .container;

	.row {
		justify-content: center;
	}
	.services-col {
		@extend .inner-spacer-bottom, .col-sm-6, .col-md-3;
		text-align: center;
		@media (max-width: $mobile) {
			max-width: 350px;
		}
	}

	i {
		font-size: 2em;
		margin-bottom: 0.5em;
	}
}
