.navbar {
	@extend .shadow-sm;
	padding: 1.2em;
}
.navbar-ul {
	justify-content: end;
	flex-grow: 1;
	gap: 1em;
	align-items: center;
}
.nav-link {
	color: $dark !important;
	font-size: 1.2em;
	transition: all 0.5s ease;
}
.nav-link:hover {
	color: $primary !important;
}

.navbar-light .navbar-nav .nav-link.active {
	color: $primary !important;

	pointer-events: none !important;
}

.dropdown-item.active {
	background-color: transparent;
	color: $primary !important;
	pointer-events: none !important;
}
#logout {
	cursor: pointer;
}

.modal-backdrop.show {
	opacity: 0;
}
.cart-quantity {
	@extend .bg-success, .rounded-circle, .p-2;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 0.5em;
	color: $dark;
}
