.navbar {
	@extend .navbar-light, .bg-light, .navbar-expand-md;
	padding: 1.2em;
	font-family: $heading-fonts;
}
.navbar-ul {
	justify-content: end;
	flex-grow: 1;
	gap: 1em;
	align-items: center;
}
.nav-link {
	color: $dark !important;
	font-size: 1.2em;
	transition: all 0.5s ease;
}
.nav-link:hover {
	color: $primary !important;
}

.navbar-light .navbar-nav .nav-link.active {
	color: $primary !important;
	pointer-events: none !important;
}

.dropdown-item.active {
	background-color: transparent;
	color: $primary !important;
	pointer-events: none !important;
}

.nav-menu-container {
	@extend .navbar-nav, .navbar-ul;
}

#logout {
	cursor: pointer;
}

.modal-backdrop.show {
	opacity: 0;
}
.cart-quantity {
	@extend .bg-success, .rounded-circle, .p-2;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 0.5em;
	color: $dark;
}
.site-slogan {
	@extend .d-none, .d-sm-flex, .bg-secondary, .justify-content-around, .align-items-center, .px-4, .py-2;
	p {
		margin-bottom: 0;
		font-size: 0.9em;
		transition: 0.5s transform;
		animation: slide-up forwards 1s ease;
		font-family: $heading-fonts;
	}
	@keyframes slide-up {
		0% {
			transform: translateY(-100px);
		}
		100% {
			transform: translateY(0);
		}
	}
}
