.navbar {
	@extend .navbar-light, .bg-light, .navbar-expand-md;
	padding: 1.1em;
	font-family: $heading-fonts;
}
.navbar-ul {
	justify-content: end;
	flex-grow: 1;
	gap: 1em;
	align-items: center;
}
.navbar-brand {
	@extend .d-none, .d-md-block;
}
.logo {
	width: 90px;
}
.nav-link {
	color: $dark !important;
	font-size: 1.1em;
	transition: all 0.5s ease;
	i {
		font-size: 1.3em;
		margin-right: 0.3em;
	}
}
.nav-link:hover {
	color: $primary !important;
}

.navbar-light .navbar-nav .nav-link.active {
	color: $primary !important;
	pointer-events: none !important;
}

.dropdown-item.active {
	background-color: transparent;
	color: $primary !important;
	pointer-events: none !important;
}

.nav-menu-container {
	@extend .navbar-nav, .navbar-ul;
	justify-content: space-between;
}

#logout {
	cursor: pointer;
}

.modal-backdrop {
	display: none;
}
.nav-icons {
	@extend .d-flex, .gap-2;
}
.cart-quantity {
	@extend .bg-success, .rounded-circle, .p-2, .me-2;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 0.5em;
	color: $dark;
}
