#product__link {
	overflow: hidden;

	.product-image {
		height: 300px;
		transition: 1s transform;
	}
	.col {
		@extend .inner-spacer-bottom;
	}
}
#product__link:hover .product-image {
	transition: 1s transform;
	transform: scale(1.1);
}
.card {
	@extend .h-100, .shadow;
	border: 0;
	overflow: hidden;
}
