.products {
	@extend .container, .inner-spacer-top, .spacer;

	.col {
		@extend .inner-spacer-bottom;
	}
}

#products-container {
	#display-message {
		margin: 2em auto;
	}
	.card-body {
		display: flex;
		justify-content: space-between;
	}
}


.delete-product {
	@extend .btn, .btn-sm, .btn-danger;
}
.edit-product {
	@extend .btn, .btn-sm, .btn-warning;
}

.search-container {
	@extend .inner-spacer-bottom;
	display: flex;
	justify-content: space-between;
	align-items: center;

	#search {
		width: 250px;
		text-align: center;
		border: none;
		background-color: lighten($light, 3);
		padding: 1.2em 0.5em;
	}
}
