.product-specific {
	@extend .container, .spacer;
	margin-top: 100px;
	.product-content {
		padding: 0em 1em;
		@media (max-width: $mobile) {
			padding: 0.5em;
		}
		@media (max-width: $large) {
			padding: 0.5em;
		}
	}

	h2 {
		text-align: start;
		margin-bottom: 0.2em;
		position: relative;
	}
	.price {
		@extend .inner-spacer-bottom;
		font-size: 1.2em;
		font-weight: bold;
	}
	.add-to-cart {
		@extend .inner-spacer-bottom;
		@extend .btn, .btn-outline-primary, .btn-lg;
		margin-right: 0.5em;
	}
	.delete-btn {
		@extend .inner-spacer-bottom;
		@extend .btn, .btn-lg, .btn-outline-danger;
	}
	.badge {
		background-color: $success;
		width: max-content;
		padding: 0.5em;
		font-size: 0.8em;
		font-weight: 300;
		margin-left: 0.5em;
	}
	.size {
		@extend .form-select, .inner-spacer-bottom;
	}
}

.product-container {
	justify-content: center;
}

.modal-header {
	border: none;
	position: relative;
	font-size: 1.3em;

	.btn-close {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.modal-title {
		display: flex;
		align-items: baseline;
	}
}

.modal-body-content {
	@extend .shadow-sm;
	display: flex;
	gap: 0.4em;
	margin-bottom: 2em;
	padding: 1em;

	&__image {
		width: 50px;
		height: 50px;
	}
	p {
		margin-bottom: 0;
	}
}
.btn-continue-shopping {
	@extend .btn, .btn-outline-primary, .btn-sm, .me-2;
}
.btn-to-cart {
	@extend .btn, .btn-primary, .btn-sm;
}
