#hero-products {
	@extend .spacer;

	#hero-products-banner {
		height: 60vh;
		background: url("../../images/shoes.jpg") no-repeat center;
		background-size: cover;
		margin: 0 auto;
	}
}
.products {
	@extend .spacer;
	.loader {
		margin: 0 auto;
	}

	.col {
		@extend .inner-spacer;
	}
	a {
		color: $dark;
	}
}
.product-image {
	height: 300px;
}
