#hero-products {
	@extend .spacer;

	#hero-products-banner {
		height: 60vh;
		background: url("../../images/shoes.jpg") no-repeat center;
		background-size: cover;
		margin: 0 auto;
	}
}
#products-container {
	#display-message {
		margin: 2em auto;
	}
}

.products {
	@extend .spacer;
	.loader {
		margin: 0 auto;
	}

	.col {
		@extend .inner-spacer;
	}
	a {
		color: $dark;
	}
}
.product-image {
	height: 300px;
}

.delete-product {
	@extend .btn, .btn-sm, .btn-danger;
}
.edit-product {
	@extend .btn, .btn-sm, .btn-warning;
}
.card-body {
	display: flex;
	justify-content: space-between;
}
.search-container {
	@extend .inner-spacer;
	display: flex;
	justify-content: center;
	align-items: center;

	#search {
		width: 250px;
		text-align: center;
		border: none;
		background-color: lighten($light, 3);
		padding: 1.2em 0.5em;
	}
}
