@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&family=Tenor+Sans&display=swap");

$heading-fonts: "Tenor Sans", sans-serif;
$body-fonts: "Signika Negative", sans-serif;

body {
	font-family: $body-fonts;
	font-weight: 300;
}

h1,
h2,
h3,
h4 {
	font-family: $heading-fonts;
}

h1 {
	@extend .inner-spacer-bottom;
	font-size: 3em;
	text-align: center;

	@media (max-width: $mobile) {
		font-size: 2.5em;
	}
}

h2 {
	@extend .inner-spacer-bottom;
	font-size: 2.5em;
	text-align: center;
	@media (max-width: $mobile) {
		font-size: 2em;
	}
}
